*{
    margin: 0;
    padding: 0;
}
 
nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}
nav#menu{
    display: block;
}
 
nav#menu li{
    display: inline-block;
}
body{
    background: rgb(74,7,191);
background: linear-gradient(90deg, rgba(74,7,191,1) 0%, rgb(58, 19, 130) 35%, rgba(55,0,255,1) 100%);
}
header{
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
}
tem menu de contexto